@import "tailwindcss";

*{
  font-family: Poppins, sans-serif;
}

body{
  background-color: black;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.section {
  min-height: 100vh;
  scroll-snap-align: center;
}

.navbar{
  height: 100px;
}

.wrapper{
  max-width: 1366px;
  margin: auto;
}

.hero{
  background: linear-gradient(180deg , #0c0c1d, #111132);
}

.service {
  background: linear-gradient(180deg , #0c0c1d, #111132);
}

.projects {
  background: linear-gradient(180deg , #0c0c1d, #111132);
}
